/.gradle/
/.idea/
/build/
/src/jvmTest/kotlin/com/github/yamin8000/spacetraders_sdk/web/api/Main.kt
/local.properties
/src/commonDebug/
/src/jvmMain/kotlin/com/github/yamin8000/spacetraders_sdk/Main.kt
/.kotlin/
